@charset "utf-8";
body {
	min-width: 1020px;
	word-wrap: break-word;
	font-size: 14px;
	line-height: 1.5;
	color: #24292e;
	background-color: #fff;
	margin: 0px;
}
a {
	color: #161616;
	text-align: center;
	text-decoration: none;
}
ul {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;
}
li {
	list-style: none;
	font-style: normal;
	margin: 50px;
}
li a {
	border: 5px solid #3B9510;
	background-color: #3B9510;
	text-decoration: none;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 20px;
}
div {
	display: block;
}
.Header {
	margin: 0;
	z-index: 1;
	padding-top: 12px;
	padding-bottom: 12px;
	color: rgba(255,255,255,0.75);
	background-color: #24292e;
}
.container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	box-sizing: border-box;
}
.page-title {
	background-color: #191919;
	text-decoration-color: #646464
}
.word-list {
}
.header-content{
    display: -webkit-box !important;
    display: flex !important;

    padding-right: 16px !important;
    padding-left: 16px !important;

    -webkit-box-pack: justify !important;
    justify-content: space-between !important;

    max-width: 1012px;
    margin-right: auto;
    margin-left: auto;
}
.position-relative{
	position: relative !important;
}
