@charset "utf-8";
html{
	width: 980px;
}
a {
	color: #161616;
	text-align: center;
	text-decoration: none;
}
ul {
	display: flex;
	justify-content: flex-start;
	align-content: stretch;
}
li {
	list-style: none;
	font-style: normal;
	margin: 50px;
}
li a {
	border: 5px solid #3B9510;
	background-color: #3B9510;
	text-decoration: none
	text-decoration-color: #E4E4E4;
	border-radius: 7px;
	padding: 10px 20px;
	font-size: 20px;
}
.page-title {
	border: 5px solid #FFFFFF;
	padding: 10px;
	margin: 10px;
	border-radius: 5px; 
}
.word-list {
	display: block;
	
}
